BD_DO_METADATA_UPSERT=
BD_DO_METADATA_ACTIVATE=
BD_DO_PDFS=
BD_FILE_PREFIX_FILTER=
BD_METADATA_GIT_URL=
BD_METADATA_GIT_REVISION_OLD=
BD_METADATA_GIT_REVISION_NEW=
BD_METADATA_FILE_FILTER=
BD_BINARY_PATH_GHOSTSCRIPT=
BD_BINARY_PATH_PDFTOTEXT=
BD_BINARY_PATH_CONVERT=
BD_BINARY_PATH_PNGQUANT=
BD_STORAGE_ACCOUNT_CONNECTION_STRING=
BD_CONCURRENCY=
BD_DB_CONNECTION_STRING=
BD_WORKBENCH_CONNECTION_STRING=
BD_WORKBENCH_PDF_PATH=
BD_WORKBENCH_COVER_IMAGE_PATH=
BD_PDF_MAX_PROCESS_COUNT=
BD_RANDOMIZE_PDFS=