# This is the connection string for the occpublisherstorage Storage Account (on the Azure Stage account).
# Required if -DO_COVER_IMAGES or -DO_PDFS is provided.
PUBLISHER_STORAGE_ACCOUNT_CONNECTION_STRING="DefaultEndpointsProtocol=https;............."

# This is the connection string for the occclastagestorage Storage Account (on the Azure Stage account).
# Required if -DO_COVER_IMAGES, -DO_PDFS, or -DO_TRANSFER_TO_LIVE is provided.
STAGE_STORAGE_ACCOUNT_CONNECTION_STRING="DefaultEndpointsProtocol=https;................"

# This is the connection string for the occclaproductionstorage Storage Account (on the Azure Production account).
# Required if -DO_TRANSFER_TO_LIVE is provided.
LIVE_STORAGE_ACCOUNT_CONNECTION_STRING="DefaultEndpointsProtocol=https;................"

# The git URI of the repository that contains the latest XML ONIX metadata
ONIX_METADATA_GIT_URI="git@github.com:TheCopyrightLicensingAgencyLtd/cla-education-platform.git"

# The git branch name that contains the latest XML ONIX metadata
ONIX_METADATA_GIT_BRANCH_NAME="dev"

# Any ONIX XML file whose basename does not match this regex is skipped
# Useful when you want to only upload some XML files
ONIX_INCLUDE_REGEX=""

# Postgres connection string to Stage DB
STAGE_DB_CONNECTION_STRING="postgresql://dbuser:secretpassword@database.server.com:3211/mydb"

# This is the path relative to the 'workbench' fileshare on the occpublisherstorage container where the cover images are stored.
# This path may contain other files besides cover images - only image files will be considered.
# Required if -DO_COVER_IMAGES is provided.
# Example value: content/dataloads/20200626
# May be the same as WORKBENCH_PDF_DIR.
WORKBENCH_COVER_IMAGE_DIR="......"

# This is the path relative to the 'workbench' fileshare on the occpublisherstorage container where the PDF files are stored.
# This path may contain other files besides PDFs - only PDF files will be considered.
# Required if -DO_PDFS is provided.
# Example value: content/dataloads/20200626
# May be the same as WORKBENCH_COVER_IMAGE_DIR.
WORKBENCH_PDF_DIR="......"

# The credentials for the clastagebatch Azure Batch account (on the OCC Azure Stage Account).
# You can fetch this information from within the Azure portal.
# Required if -DO_PDFS is provided.
BATCH_ACCOUNT_NAME="clastagebatch"
BATCH_ACCOUNT_KEY="....."
BATCH_ACCOUNT_URL="https://clastagebatch.westeurope.batch.azure.com"

# The READONLY postgres connection string used by Azure Batch.
# This can be found in the normal Passwords document.
#
# Note: This is NOT the standard Stage database credentials!
# It's a special READONLY set of credentials.
#
# Format: postgres://USERNAME:PASSWORD@HOST:PORT/DB?ssl=true
# Required if -DO_PDFS is provided.
AZURE_BATCH_READONLY_DB_CONNECTION_STRING="...."

# The origin or 'base' URL of the Stage EP API.
# Required if -DO_METADATA is provided.
STAGE_API_BASE="https://api.stage-schoolingplatform.com"

# The email and password for a CLA admin on Stage EP.
# Required if -DO_METADATA is provided.
STAGE_ADMIN_EMAIL="your@email.here"
STAGE_ADMIN_PASSWORD="your stage password here"

# The origin or 'base' URL of the Production EP API.
# Required if -DO_TRANSFER_TO_LIVE is provided.
LIVE_API_BASE="https://cla-production-stage-controller.azurewebsites.net"

# The email and password for a CLA admin on Live EP.
# Required if -DO_TRANSFER_TO_LIVE is provided.
LIVE_ADMIN_EMAIL="your@email.here"
LIVE_ADMIN_PASSWORD="your live password here"

# The error logging API endpoint
# Optional. Defaults to: STAGE_API_BASE + "/public/asset-processing-log-insert"
ERROR_LOG_URI=
