<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="/" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<% if (process.env.NODE_ENV !== "production") { %>
		<meta name="robots" content="noindex" />
		<% } %>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Education Platform</title>
		<link rel="icon" href="<%= require('./assets/icons/favicon.png') %>" type="image/ico" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" rel="stylesheet" />
		<script>
			window.__CLA_APP_NONCE__ = ":::NONCE:::";
			window.dataLayer = window.dataLayer || [];
			window.dataLayer.push({
				originalLocation: document.location.protocol + "//" + document.location.hostname + document.location.pathname + document.location.search,
			});
		</script>

		<!-- Google Tag Manager -->
		<!-- !!!!!! Modified to include the nonce !!!!!! -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.nonce = ":::NONCE:::";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "<%= process.env.GOOGLE_TAG_MANAGER_ID %>");
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<div id="App"></div>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=<%= process.env.GOOGLE_TAG_MANAGER_ID %>"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
