# Space-separated list of accepted API keys.
# REQUIRED.
BDAPI_API_KEYS="abc123 def456 ghi789"

# Port that the BornDigitalApiController binds to, to listen for HTTP requests.
# OPTIONAL. Defaults to 80.
# BDAPI_BIND_PORT=80

# Is the BornDigitalApiController currently running in an Azure instance?
# Valid values: '1'
# OPTIONAL.
# IS_AZURE=1

# Azure Storage Account connection string.
# This is the Storage Account where (a) the raw PDF uploads are and (b) the generated PDF extracts are stored.
BDAPI_AZURE_CONNECTION_STRING=

# Name of the container in the Azure Storage Account specified by BDAPI_AZURE_CONNECTION_STRING that contains the raw PDF uploads.
# OPTIONAL. Defaults to 'rawuploads'.
# BDAPI_AZURE_RAW_UPLOADS_CONTAINER=

# Name of the container in the Azure Storage Account specified by BDAPI_AZURE_CONNECTION_STRING that contains the generated PDF extracts.
# OPTIONAL. Defaults to 'borndigitalextracts'.
# BDAPI_AZURE_EXTRACTS_CONTAINER=

# Database credentials - all required except port and ssl
# BDAPI_AM_DB_USER=
# BDAPI_AM_DB_HOST=
# BDAPI_AM_DB_DB=
# BDAPI_AM_DB_PASS=
# BDAPI_AM_DB_PORT=
# BDAPI_AM_DB_SSL=