# ALL fields are required. You should copy and paste this file to a `.env` file and fill out the fields.

# The Controller endpoint that is regularly pinged.
# It should ALWAYS be /public/ping, but you can change the origin to something else (e.g. for Stage or Production).
CLA_PING_ENDPOINT="https://cla-production-stage-controller.azurewebsites.net/public/ping"

# The details are in the TVF Digital passwords document.
# It's the Azure CLA Rebooter credentials.
# These are used for authentication so that the Controller can be restarted remotely.
AZURE_USERNAME=""
AZURE_PASSWORD=""
AZURE_TENANT=""

# The name and resource group of the Controller App Service in Azure.
# This is the service that will be restarted if pinging fails.
# You can fetch these credentials in the Azure Portal.
# Find the App Service for the Controller and look in the Overview.
AZURE_SERVICE_NAME="cla-production-stage-controller"
AZURE_SERVICE_RESOURCE_GROUP="CLA_Production"

# SMTP credentials so that automated emails can be sent if a restart is needed.
# If this is being used on Stage or Production, use the SendGrid credentials.
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_HOST=""
SMTP_PORT=""

# Emails that will receive a notification if a restart is needed.
# Should be separated by semicolons. Spaces are ignored.
CLA_RECIPIENT_EMAILS="email1@foo.com ; another@one.com ; third@email.here"

# The DB credentials for the database which contains the 'uptime_log_item' table.
# Ping results are stored here.
# Passwords can be found in the normal TVF Digital passwords document.
#
# Do NOT use the normal application DB credentials!
# There is a *separate* database with a *separate* set of credentials for ping results.
# We don't want this DB user to have any kind of access to the application database.
PGHOST="live-application.postgres.database.azure.com"
PGUSER="rebootuser@live-application"
PGPORT="5432"
PGPASSWORD=""
PGDATABASE="live_cla_reboot_logs"
PGSSLMODE="require"